.a{
    background-color: antiquewhite;
    display: inline-block;
    width: 30%;
    height: 500px;
}
.b{
    width: 90%;
    margin-top: 90%;
}
.b a{
    text-decoration: none;
}
.c{
    background-color: aquamarine;
    display: inline;
    width: 100%;
    height: 500%;
}
.d a{
    text-decoration: none;
}
.f a{
    text-decoration: none;
}
